root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
max_line_length = 125
spelling_language=en-US

[*.R]
indent_style = space
indent_size = 2
max_line_length = 125

[*.Rmd]
indent_style = space
indent_size = 2
max_line_length = 125

[*.md]
indent_style = space
indent_size = 2
max_line_length = 125
