root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.R]
indent_style = space
indent_size = 2

[*.Rmd]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
