#Took samples from "A collection of useful .gitignore templates"
#https://github.com/github/gitignore/blob/master/R.gitignore

# R environment
.Rcheck$ # Output files from R CMD check
.Rproj.user*
.Renviron
.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
doc
Meta

# knitr and R markdown default cache directories
*_cache/
^cache/*

# Temporary files created by knitr and R markdown
*.utf8.md
*.knit.md
$.Rd2pdf*

#compiled Document files
*.out
*.aux
*.html
*.pdf
*.log
*.docx
vignettes/*.html
vignettes/*.pdf
vignettes/*.md
vignettes/*.docx

#other files
#not needed
dev/countlinesofcode.R
#this file is not needed on github use the remotes package instead
dev/install_RAQSAPI.R
# this project is not taking contributions at this time, any issues with this
#package, or feature request should be submitted to the issue tracker.
dev/contributing.md
dev/contributing.Rmd
#Set up hte loocal environment for unit tests
tests/testthat/local.R
dev/.experimental.R

# Output files from R CMD check
/*.Rcheck/
/doc/
/Meta/

# RAQSAPI package files
*.tar.gz
*.zip
RAQSAPI.code-workspace
